<p>
  {{t "vacation_time"}}: {{t "day" count=period}}
  {{~#if holidays}}{{t "including_holidays" count=holidays}}{{/if}}
</p>
<p>
  {{t "salary"}}: <b>{{salary}}</b>, {{t "selling"}}: <b>{{selling}}</b>, {{t "difference"}}: <b>{{diff}}</b>
  {{#if profit}}PROFIT!!1{{/if}}
</p>